.content.loading > div {
  place-self: center;
  z-index: 2;
  border: 0;
  border-radius: 5px;
  padding: 30px;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  transition: filter 500ms linear;
  max-width: 250px;
}

.loader {
  width: 20px;
  height: 20px;
  animation: rotate 1s linear infinite;
  background-size: cover;
}

@keyframes rotate {
  to {transform: rotate(360deg);}
}